#timer {
    float: right;
    margin-top: 0;
}

h1 {
    margin-top: 100px;
}
h1, p, h2 {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 75px;
}

#start-btn {
    margin: 0 45%;
    color: white;
    font-size: 15px;
    background-color: #562270;
    padding: 10px 30px;
}

#start-btn:hover {
    background-color: #a876cf;
}

.hidden {
    display: none;
}

.choices {
    display: flex;
    align-items: flex-start;
    padding: 10px 25px;
    margin-bottom: 5px;
    margin-left: 32%;
    font-size: 18px;
    color: white;
    background-color: #562270;
}

button:hover {
    background-color: #a876cf;
}

#display-msg {
    font-size: 25px;
    font-style: italic;
    color: lightgray;
    text-decoration: overline;
    margin-left: 32%;
    margin-top: 2%;

}

#submit {
    background-color: #562270;
    color: white;
}