body {
    padding: 3%;
}
#timer {
    float: right;
    margin-top: 0px;
}

h1 {
    padding-left: 50px;
}
h1, p {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-items: center;
}

#start-btn {
    margin: 0 42%;
    color: white;
    font-size: 20px;
    background-color: purple;
    padding: 15px 40px;
}

.page {
    display: block;
}

.hidden {
    display: none;
}

.choices {
    display: flex;
    align-items: flex-start;
    padding: 10px 25px;
    font-size: 20px;
    color: white;
    background-color: darkmagenta;
}