nav #timer {
    float: right;
    margin-top: 0px;
}
h1, p {
    text-align: center;
}

button {
    margin: 0 45%;
    color: white;
    font-size: 20px;
    background-color: purple;
    padding: 15px 20px;
}